@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="about-section">
        <h1>Welcome</h1>
        <h3>
            To manage people's accounts and transactions logged.
        </h3>
        <p>

    </div>
</div>
<style>
    .about-section {
        padding: 200px;
        text-align: center;
        background-color: #00BFFF;
        color: white;
    }

    .container {
        padding: 0 16px;
    }
</style>
