@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <div class="about-section">
        <h2>About Us</h2>
        <p>
            Interactive Solutions began as a software development company focused on developing software for the call centre industry.
        </p>
        <p>
            As our client base expanded, so too did our product offerings.

        </p>
        <p>
            Interactive Solutions offers consulting services in business intelligence, project management, software development, strategy development and implementation.
        </p>
        <p>
            manage people, their accounts and transactions logged project is the good example of solutions we provides
        </p>
        <p>
            Call +27 31 538 4000
        </p>

    </div>
</div>
<style>
    .about-section {
        padding: 100px;
        text-align: center;
        background-color: #00BFFF;
        color: white;
    }

    .container {
        padding: 0 16px;
    }
</style>